<nav>
    <a routerLink="/trades" routerLinkActive="active">Trades</a>
    <a routerLink="/history" routerLinkActive="active">History</a>
</nav>
<div *ngIf="(afAuth.user | async) as user">Hello {{ user.displayName }} ! <button mat-raised-button (click)="authService.signOut()">Logout</button></div>