:host {
    background-color: #fbfbfb;
    border-bottom: solid 1px #e2e2e2;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        margin: 0 10px;
    }
}