<tr>
    <!-- pair -->
    <td>
        <div>{{ pair }}</div>
        <div (click)="editPrice()" class="ticker">
            {{ latestPriceForTradePair }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon>
        </div>
        <div *ngIf="isEditingPrice"><input type="number" name="editedPrice" [(ngModel)]="editedPrice"  (keyup)="updateProfitLossValues()"/></div>
        <div class="exchange">{{ trade.exchange }}</div>
    </td>
    <!-- amount -->
    <td>{{ tradeData.amount }} <symbol-icon [symbol]="trade.symbol1"></symbol-icon></td>
    <!-- average -->
    <td>
        <span>
            {{ tradeData.averagePrice }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon> /
            <symbol-icon [symbol]="trade.symbol1"></symbol-icon>
        </span>
    </td>
    <!-- value -->
    <td>{{ tradeData.value }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon></td>
    <!-- realtime P/L -->
    <td class="multi-line">
        <span>{{ profitPercentage }}%</span>
        <span>
            {{ (latestDiffPrice >= 0 ? '+' : '') + latestDiffPrice }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon> /
            <symbol-icon [symbol]="trade.symbol1"></symbol-icon
        ></span>

        <span>{{ profit }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon></span>
    </td>
    <!-- actions -->
    <td>
        <position-form [trade]="trade" (submitPosition)="submitPosition($event)"></position-form>
        <button mat-icon-button [matMenuTriggerFor]="other"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #other="matMenu">
            <button mat-menu-item color="warn" (click)="closeTrade()">Close Trade</button>
            <button mat-menu-item color="warn" (click)="cancelTrade()">Delete Trade</button>
        </mat-menu>
        <div class="display-positions" (click)="showPositions()">{{ trade.positions.length }} positions</div>
    </td>
</tr>

<ng-template [ngIf]="positionsDisplayed && trade.positions.length > 0">
    <tr
        *ngFor="let pos of trade.positions; let i = index"
        class="position-container"
        [ngClass]="{ sell: pos.type === 'sell' }"
    >
        <td>#{{ i + 1 }} {{ pos.type === 'sell' ? 'sell' : 'buy' }}</td>
        <td>
            <span *ngIf="editedPosition !== i">{{ pos.quantity }} </span>
            <input type="number" [(ngModel)]="pos.quantity" *ngIf="editedPosition === i" />
            <symbol-icon [symbol]="trade.symbol1"></symbol-icon>
        </td>
        <td>
            <span *ngIf="editedPosition !== i">{{ pos.value }} </span>
            <input type="number" [(ngModel)]="pos.value" *ngIf="editedPosition === i" />
            <symbol-icon [symbol]="trade.symbol2"></symbol-icon> /
            <symbol-icon [symbol]="trade.symbol1"></symbol-icon>
        </td>
        <td>{{ getValuePosition(pos) }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon></td>
        <td class="multi-line">
            <span *ngIf="pos.type !== 'sell'">{{ getProfitPercentage(pos.value) }}%</span>
            <span *ngIf="pos.type !== 'sell'"
                >{{ getProfitPosition(pos) }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon
            ></span>
        </td>
        <td>
            <button *ngIf="editedPosition !== i" mat-button (click)="editPosition(i)"><i class="far fa-edit"></i></button>
            <button *ngIf="editedPosition === i" mat-button (click)="editPosition(i)"><i class="fas fa-times"></i></button>
            <button *ngIf="editedPosition === i" mat-button (click)="savePosition()"><i class="fas fa-check"></i></button>
            <button mat-button (click)="deletePosition(i)"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
</ng-template>
