.ticker {
    cursor: pointer;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.exchange {
    font-size: 0.8em;
}

.menu-inside {
    display: flex;
    flex-direction: column;
}
:host {
    display: table-row-group;
    .display-positions {
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }
    .position-container {
        font-size: 13px;
        color: #565c88;
        background-color: #5fa53c29;
        &.sell {
            background-color: #ff00001a;
        }
        &:last-child {
            border-bottom: solid 4px #6b6b6b;
        }
    }
    .multi-line > span {
        display: block;
    }
    .small-number {
        font-size: 11px;
    }
}