.statsContainer {
  border: solid 1px #0c2461;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  align-items: center;
  padding: 10px;
  
  .block {
    justify-self: center;
    text-align: center;
  }
}

.trade {
  padding: 10px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  div {
    justify-self: center;
  }

}
.winner {
  background: #38ada930;
  border: solid 1px #079992;
  &.bigWinner {
    background: #38ada97d;
  }
} 
.loser{
  background: #b715402b;
  border: solid 1px #b71540;
}
