<div class="container">
    <div class="statsContainer">
        <div class="block">TRADES</div>
        <div class="block">P/L</div>
        <div class="block">AVERAGE per trade</div>
        <div class="block">
            <div>{{ nbTrades }} trades</div>
            <div>{{ nbTradesWinner }} wins / {{ nbTradesLoser }} losses</div>
            <div [ngClass]="{ winner: ratioWinner > 1 }">win/loss ratio : {{ ratioWinner }}</div>
        </div>
        <div class="block">
            <div *ngFor="let pl of profitLoss">
                {{ pl.invest }} <symbol-icon [symbol]="pl.symbol"></symbol-icon> - {{ pl.brut }} <symbol-icon [symbol]="pl.symbol"></symbol-icon> -
                {{ pl.pct }}%
            </div>
        </div>
        <div class="block">
            <div>{{ averageProfitLossP }} %</div>
            <div>{{ averageDuration }} hours</div>
        </div>
    </div>
    <div class="trades">
        <div class="trade">
            <div>Pair</div>
            <div>Value</div>
            <div>P/L</div>
            <div>Duration</div>
        </div>
        <div *ngFor="let trade of trades" [ngClass]="{ winner: trade.winner, loser: !trade.winner, bigWinner: trade.plP >= 4 }" class="trade">
            <div>{{ trade.symbol1 }}/{{ trade.symbol2 }}</div>
            <div>{{ trade.value }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon></div>
            <div>{{ trade.pl }} <symbol-icon [symbol]="trade.symbol2"></symbol-icon> / {{ trade.plP }}%</div>
            <div>{{ trade.dateOpenStr }} - {{ trade.dateCloseStr }} ({{ trade.duration }}h)</div>
            <!-- {{ trade.data.averagePrice}} ==> {{trade.priceClose}} -->
        </div>
    </div>
</div>
