.trade-table {
    width: 100%;
}

.tc {
    display: contents;
}

.trades-container {
    .fas,
    .fab {
        font-size: 0.8em;
    }
    h3 {
        padding-left: 15px;
    }
    .new-trade-form {
        margin: 10px;
        display: flex;
        flex-direction: column;
        border: solid 1px #f3f3f3;
        padding: 15px;
        border-radius: 8px;
        width: 315px;
    }
}

::ng-deep {
    .pair-container {
        .mat-form-field-wrapper {
            width: 50px !important;
        }
    }
}