<div class="trades-container">
    <h3>Add a new trade</h3>
    <form (ngSubmit)="addNewTrade()">
        <div class="new-trade-form">
            <div class="pair-container">
                <label>Pair: </label>
                <mat-form-field appearance="standard"> <input matInput name="symbol1" placeholder="BTC" [(ngModel)]="newTrade.symbol1" required /> </mat-form-field>
                &nbsp;/&nbsp;
                <mat-form-field appearance="standard"> <input matInput name="symbol2" placeholder="EUR" [(ngModel)]="newTrade.symbol2" required /> </mat-form-field>
            </div>
            <div>
                <label>Exchange: </label>
                <mat-form-field appearance="standard">
                    <mat-select name="exchange" [(ngModel)]="newTrade.exchange">
                        <mat-option value="binance">Binance</mat-option>
                        <mat-option value="kucoin">Kucoin</mat-option>
                        <mat-option value="coinbase">Coinbase</mat-option>
                        <mat-option value="none">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-raised-button>Add</button>
        </div>
    </form>

    <h3>Your trades</h3>
    <table class="trade-table">
        <thead>
            <tr>
                <th>Pair</th>
                <th>Amount of Tokens</th>
                <th>Average</th>
                <th>Value</th>
                <th>Realtime P/L</th>
                <th></th>
            </tr>
        </thead>
        <trade-component *ngFor="let trade of (trades | async)" [class]="'trade trade-' + trade.id" class="tc" [trade]="trade"></trade-component>
    </table>
</div>
