<div mat-dialog-content>
    <p>
        Add more to your <symbol-icon [symbol]="data.trade.symbol1"></symbol-icon> /
        <symbol-icon [symbol]="data.trade.symbol2"></symbol-icon> position :
    </p>
    <div>
        <mat-form-field>
            <input
                matInput
                placeholder="Amount of tokens"
                name="quantity"
                type="number"
                required
                [(ngModel)]="data.quantity"
                style="text-align: right"
            />
            <symbol-icon matSuffix [symbol]="data.trade.symbol1"></symbol-icon>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input
                matInput
                autofocus
                placeholder="Value of the token"
                name="value"
                type="number"
                required
                [(ngModel)]="data.value"
                style="text-align: right"
            />
            <symbol-icon matSuffix [symbol]="data.trade.symbol2"></symbol-icon>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button> <button mat-button [mat-dialog-close]="data">Ok</button>
</div>
