<div mat-dialog-content>
    <mat-checkbox [(ngModel)]="isPartial">Partial?</mat-checkbox>
    <div *ngIf="isPartial">
        <mat-form-field>
            <input matInput placeholder="Amount sold" [(ngModel)]="data.quantitySold" style="text-align: right;" type="number" />
            <mat-hint>Available : {{data.amountAvailable}} <symbol-icon matSuffix [symbol]="data.trade.symbol1"></symbol-icon></mat-hint>

            <symbol-icon matSuffix [symbol]="data.trade.symbol1"></symbol-icon>
        </mat-form-field>
    </div>
    <p>At what price?</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.priceSold" style="text-align: right;" type="number" />
        <symbol-icon matSuffix [symbol]="data.trade.symbol2"></symbol-icon>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button> 
    <button mat-button (click)="sell()" cdkFocusInitial>Ok</button>
</div>
