/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}
input[type=number] {
    max-width: 80px;
}

.LTC::before {
    content: 'LTC';
}
.ETH::before {
    content: 'ETH';
}
table {
    border-collapse: collapse;
}

th {
    color: #676767;
    height: 30px;
}
td {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}
tr {
    border-bottom: 1px solid #a09d9d;
}
